<h1>Your profile</h1>


<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

<h3>Events you've created</h3>
<ul>
    <% @user.created_events.each do |event| %>
      <li>
          <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
</ul>

<h3>Events you're attending</h3>
<ul>
    <% @user.attended_events.each do |event| %>
      <% if event.date.future? %>
        <li>
            <%= link_to event.title, event_path(event) %>
        </li>
      <% end %>
    <% end %>
</ul>

<h4>Previous events you've attended</h4>
<ul>
    <% @user.attended_events.each do |event| %>
      <% if event.date.past? %>
        <li>
            <%= link_to event.title, event_path(event) %>
        </li>
      <% end %>
    <% end %>
</ul>


<%= link_to "Create a new event", new_event_path %>
<%= link_to "Home", root_path %>
