<h1><%= @event.title %></h1>

<p><%= @event.date%></p>

<p><%= @event.location%></p>

<%= link_to "Delete event", event_path(@event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } 
%>

<ul>
    <% @event.attendees.each do |user| %>
            <li>
                <%= user.username %>
            </li>
    <% end %>
</ul>

<% if current_user.id == @event.creator.id %>
    <p> </p>
<% else %>
    <%= link_to "Attend this event", event_rsvp_path(@event.id) %>
<% end %>

<%= link_to "Home", root_path %>